@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 400vh;
}

#header {
    position:fixed;
    height: 100px;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    
}

.header_bars-list {
    position: fixed;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-left: -10px;
    margin-top: -50px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header_bars-item {
    margin-bottom: 0;
    color: #fff;
  }
  .header_bars-item:last-child {
    margin-bottom: 0;
  }

  .header_bars_a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-top: 12px;
}

.navbar .open__time {
    color: #fff;
}

.navbar .open__time i {
    font-size: 26px;
    font-weight: 600;
    
}

.navbar .open__time span {
    color: #fff;
    font-weight: 100;
    font-size: 16px;
}

.navbar .number-phone {
    color: #fff
}

.navbar .number-phone i {
    font-size: 26px;
    transform: rotate(-30deg);
}

.navbar .number-phone span {
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    
}

.header_list {
    display: flex;
    justify-content: space-between;
}

.header_bars {
    display: none;
    margin-left: 10px;
    margin-top: 10px;
}
.header_bars i{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

.header_list-menu {
    list-style: none;
    padding: 0;
    display: flex;
    width: 33%;
    justify-content: space-between;
    
    margin-top: 20px;
}

.header_list-item a {
    color: #fff;
    font-weight: 100;
    line-height: 50px;
    padding: 4px 4px;
}

.header_item_a:hover {
    border-bottom: solid 3px orange;
}

.header__logo {
    margin: 0 auto;
    width: 150px;
    height: 60px;
    /* background-color: rgb(237, 188, 99); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 100%;   
    right: 45%; */
    /* overflow: hidden; */
}

.header__logo img {
    width: 100%;
    height: 100%;
}

#slider {
    transition: all 0.5s ease;
    width: 100%;
    min-height: 85vh;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     */
}

.slides {
    overflow: hidden;
    height: 85vh;
    width: 100%;
    margin: 0 auto;
} 

.slide-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500%;
    animation: slideshow 16s infinite;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
} 

.slide {
    float: left;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering:pixelated;
    object-position: center;
}

#introduce {
    transition: all 0.5s ease;
}

#go__introduce {
    position: absolute;
    bottom: 130px;
    visibility: hidden;
}

#go__menu {
    position: absolute;
    bottom: 80px;
    left: 0;
    visibility: hidden;
}

#go__spatial {
    position: absolute;
    top: -60px;
    left: 0;
    visibility: hidden;
    
}
.introduce__wrap {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.introduce__wrap-img {
    width: 45%;
    height: 400px;
    border-radius: 50% ;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.introduce__wrap-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.introduce__wrap-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduce__content-title {
    padding: 0;
    margin: 0;
    font-family: 'Updock', cursive;
    font-size: 40px;
    text-align: center;
    color: rgb(237, 188, 99);
    margin-bottom: 25px;
}

.introduce__content-text {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    text-align: center;
}


.menu__header {
    margin-top: 50px;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.menu__header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.over_black1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    /* display: block; */
}

.over_black2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
}
 .over_black {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100%;
    height: 250px;
} 

.menu__header-content {
    width: 100%;
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 16px 12px;
   z-index: 2;
}



.header__content-title {
    color: #fff;
    font-size: 40px;
    font-family: 'svn-lob', cursive;
}

.header__content-text {
    color: #fff;
    font-family: 'Updock', cursive;
    font-size: 18px;
    margin-top: 10px;
}

.header__content-menu-list {
    display: flex;
    margin-top: 40px;
}

.menu__option-item {
    text-align: center;
    color: #fff;
    margin: 0 16px;
    padding: 10px 24px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Beau Rivage', cursive;
    border-radius: 30px;
    border: 1px dashed #fff;
    /* background-color: rgba(0, 0, 0, 0.3); */
    box-shadow: 3p 3px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.1s ease;
    min-width: 35px;
    text-transform: uppercase;
    outline: none;
    align-items: center;
}

.menu__option-item:hover {
    background-color: tomato;
    border: 1px solid tomato;
}

.active-option-item {
    background-color: tomato;
    border: 1px solid tomato;
}

.menu__list {
    width: 100%;
    z-index: 0;
}

.menu__list-wrap {
    width: 100%;
}

.menu__list-wrap .col {
    margin-right: 18px;
    margin-left: 17px;
}

.menu__list-wrap .row {
    margin-right:-25px;
    margin-left: -25px;
}

.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.grid-menu-list {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    padding: 0;
} 

.col {
    margin-top: 16px;
    /* margin-left: -20px; */

}

#menu {
    position: relative;
}

.menu__list-title {
    font-size: 30px;
    text-align: center;
    width: 100%;
    font-family: 'Updock', cursive;
    margin-top: 16px;
}

.menu__list-wrap-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 230px; 
    text-align: center;
    overflow: hidden;
    display: block;
    border: 1px solid #eaeaea;

    
}

.menu__item-img {
    width: 96%;
    height: 96%;
    margin-top: 6px;
    padding-bottom: 4px;
    transition: all 0.3s ease;
    object-fit: cover;
    object-position: center;
}

.menu__list-wrap-img:hover .menu__item-img {
    padding: 0;
    margin: 0;
    width: 110%;
    height: 110%;
    object-position: center;
}

.menu__item-content {
    margin-top: 14px;
    width: 100%;
    text-align: center;
}

.menu__item-name {
    font-size: 17px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    color: #333;
    transition: all 0.2s ease;
}

.menu__item-name:hover {
    color: tomato;
}

.menu__item-pirce {
    padding-top: 4px;
    font-size: 20px;
    font-weight: 700;
    color: tomato;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
}

.change__pages {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.change__page {
    padding: 4px 12px;
    /* background-color: tomato; */
    margin: 8px 4px;
    margin-top: 32px;
    text-align: center;
    border-radius: 4px;
    color: rgba(16, 57, 192, 0.959);
    font-weight: 600;
    cursor: pointer;
}

.change__page-active,
.change__page:hover {
    background-color: rgba(16, 57, 192, 0.959);
    color: #fff;
}


#banner {
    margin-top: 20px;
    width: 100%;
    height: 450px;
    /* background-image: url('/assecs/img/anhde8.jpg'); */
   
}

#banner img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;

}

#spatial {
    margin: 0;
    padding: 0;
    position: relative;
    top: -50px;
    right: 0;
    left: 0;
    background: url('../img/khung.png') no-repeat;
    background-size: 100% 50%;
    width: 100%;
    min-height: 110vh;

}

.spatial__wrap-content {
    padding-top: 70px ;
    margin-bottom: 10px;
}

.spatial__item {
    overflow: hidden;
    height: 320px;
    object-fit: cover;
    object-position: bottom;
    cursor: pointer;
}

.spatial__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.spatial__item-title {
    font-size: 50px;
    font-family: 'Libre Bodoni', serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}

.zoom__img {
    width: 100%;
    position: fixed;
    top: 15%;
    bottom: 0;
    z-index: 100;
    height: 100vh;
    display: none;
}

.zoom__img-icon {
    position: fixed;
    top: 10px;
    right: 20px;
    color: #fff;
    font-size: 35px;
    z-index: 8;
    cursor: pointer;
}

.zoom__img-wrap-img {
    margin: auto;
    width: 80%;
    height: 75%;
    overflow: hidden;
    position: relative;
    z-index: 15;
    background-image: url('http://127.0.0.1:5500/assecs/img/khonggian3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.zoom__img-img {
    object-fit: contain;
    object-position: bottom;
    
}

.zoom__img-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

#map {
    margin-top: -50px;
}

#map iframe {
    padding: 0;
    width: 100%;
}

/* contact - liên hệ */

.contact_wrap {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    background-color: #fff;
    padding: 40px 60px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 300px;
}

.contact_close {
    position: absolute;
    top: 5px;
    right: 0px;
    cursor: pointer;
    font-size: 16px;
    width: 30px;
    height: 25px;
    /* background-color: #2718ab; */
}

.contact_close i {
    font-weight: 800;
}

.contact_title {
    margin-top: -20px;
    margin-bottom: 30px;
}

#callButton {
    background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

#callButton i {
    margin-right: 10px;
}

.contact_facebook {
    margin-top: 20px;
    
}

.contact_facebook a {
    color: #2718ab;
    font-size: 18px;
    font-weight: 600;
}

.contact_address {
    margin-top: 10px;
}

.contact_address a {
    color: #333;
    font-size: 16px;
    /* font-weight: 600; */

}
